* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --basic-font-size: 16px;
  --font-color: black;
  --second-font-color: #ccc;
  --main-bg-color: rgb(212, 223, 157);
  --second-bg-color: green;
  --button-bg-color: darkcyan;
  --warning-color: red;
  --yellow: yellow;
  --blue: blue;
}
.body {
  font-size: var(--basic-font-size);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  color: var(--font-color);
  background-color: var(--second-bg-color);
}
.header__title {
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 80vh;
  color: var(--font-color);
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.form {
  display: flex;
  width: 30%;
  min-width: 300px;
  min-height: 35vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form__label {
  font-size: 1.8rem;
  font-weight: 600;
}

.form__select {
  font-size: 1.1rem;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}

.form__select:focus {
  outline: none;
}

.form__select--outline {
  border: 2px solid var(--warning-color);
  box-shadow: 0px 0px 5px var(--warning-color);
}

.form__option {
  text-align: center;
}
.form__button {
  font-size: 1.1rem;
  padding: 10px 20px;
  background-color: var(--second-bg-color);
  outline: none;
  border: 1px solid var(--font-color);
  border-radius: 2px;
  cursor: pointer;
}

.form__button:hover {
  filter: brightness(1.3);
}

.weather {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 60%;
  min-width: 400px;
  min-height: 15vh;
}

.weather--active {
  visibility: visible;
}

.weather__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather__row--up {
  justify-content: center;
}

.weather__icon {
  display: none;
  font-size: 5rem;
  padding: 5px;
}

.weather__icon--sun {
  color: var(--yellow);
}
.weather__icon--moon {
  color: var(--yellow);
}
.weather__icon--rain {
  color: var(--blue);
}
.weather__icon--cloud {
  color: var(--second-font-color);
}
.weather__icon--active {
  display: block;
}

.weather__row--middle {
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 15px 10px;
  background-color: var(--second-bg-color);
}
.weather__row--down {
  justify-content: space-around;
  margin-top: 10px;
  font-size: 1.2rem;
}
.weather__small {
  font-size: 1rem;
  color: var(--second-font-color);
}
.weather--bold {
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  color: var(--font-color);
  background-color: var(--second-bg-color);
}
.footer__text {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .weather {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .weather__row {
    flex-direction: column;
    gap: 10px;
  }
}
